<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <div class="container mt-5">
        <div th:each="el : ${post}">
            <form action="/blog/add" method="post">
                <input type="text" name="title" th:value="${el.title}"
                       placeholder="For title" class="form-control"><br>
                <input type="text" name="anons" th:value="${el.anons}"
                       placeholder="For Anons" class="form-control"><br>
                <textarea name="full_text" placeholder="For title"
                          th:text="${el.full_text}"  class="form-control"/><br>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
<div th:insert="blocks/footer::footer"></div>
</body>
</html>